/* The general settings */
@font-face {
  font-family: Outfit;
  src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: young-serif;
  src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

:root {
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  background-color: var(--stone-100);
  color: var(--stone-600);
  font-family: Outfit;
}

*,
*::before,
*::after {box-sizing: border-box;}

/* The container */

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The recipe */

.recipe {
  background-color: white;
  max-width: 45rem;
  padding: 2.5rem;
  border-radius: 1.5rem;
  margin: 3rem auto;
}

/* Recipe. The header */

img {
  max-width: 100%;
  border-radius: 1rem;
}

h1 {
  font-size: 2.5rem;
  margin: .9em 0 .6em;
  font-family: young-serif;
  color: var(--stone-900);
}

/* Recipe. The preparation time info */

.prep-time {
  font-family: Outfit;
  background-color: var(--rose-50);
  color: var(--stone-600);
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 1rem;
}

.prep-time h2 {
  font-size: 1.3rem;
  color: var(--rose-800);
  font-family: inherit;
}

.prep-time *::marker {color: var(--rose-800);}

/* Recipe. The main content */

h2 {
  font-size: 1.6rem;
  margin-block-end: 1rem;
  font-family: young-serif;
  color: var(--brown-800);
}

hr {margin: 2rem 0;}

p, li {line-height: 140%;}

li {padding-inline-start: 1rem;}
ul, ol {
  padding-inline-start: 1.4rem;
  display: flex;
  flex-flow: column nowrap;
  gap: .6rem;
}

::marker {
  color: var(--brown-800);
  font-weight: 700;
}
ul *::marker {font-size: .8rem;}

/* Recipe. The table */

table {
  text-align: left;
  width: 100%;
  table-layout: fixed;
}

tr:not(:last-child) {border-block-end: 1px solid #ccc;}
tr:last-child * {padding-block-end: 0;}

th {
  font-weight: 400;
  padding: 1rem 2rem;
}

td {
  font-weight: 700;
  color: var(--brown-800);
  padding-inline-start: 1rem;
}

section:has(table) p {margin-block: .8rem;}

/* The mobile layout */

@media screen and (max-width: 767px) {
  .recipe {
    margin: 0;
    border-radius: 0;
    padding: 0;
  }

  h1 {
    font-weight: 500;
    margin: .9em 2rem .6em;
  }
  img {border-radius: 0;}

  .main-content {padding: 0 2rem 2.5rem;}
}